text {
	font-family: Reforma;
}

button {
	margin: 0;
}

.axis path,
.axis .tick line {
	display: none;
}

.axis text {
	font-size: 16px;
}

.barValueLabels {
	fill: red;
	font-size: 12px;
	/*text-align: center;*/
	text-anchor: middle;
}

.meanLabel {
	text-anchor: middle;
}

.incomeCircle.notSampled {
	visibility: hidden;
}

/*
 * Put your custom styles here.
 */