.interactive div,
.interactive span,
text {
	font-family: 'Graphik Web';
}

button {
	margin: 0;
}

input {
	display: block;
	width: 100%;
}

.slider span {
	font-size: 0.9em;
}

.plotTitle {
	width: 100%;
	text-align: center;
}


/********* STYLES FOR SAMPLING ERROR ITERACTIVE ************/
.samplingErrorsInteractive {
	width: 100%;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	grid-template-rows: 100px auto;
	grid-gap: 10px;
}

.sampleErrorPopulation.plot {
	grid-column-start: 1;
	/*grid-column-end: 1;*/
	grid-row-start: 1;
	grid-row-end: 3;
}

.slider {
	grid-column-start: 2;
	/*grid-column-end: 3;*/
	grid-row-start: 1;
	grid-row-end: 2;
}

.generateSampleBtn {
	grid-column-start: 2;
	/*grid-column-end: 3;*/
	grid-row-start: 2;
	grid-row-end: 3;
	width: 100%;
	height: 58px;
}

.sampleErrorSample.plot {
	grid-column-start: 3;
	/*grid-column-end: 4;*/
	grid-row-start: 1;
	grid-row-end: 3;
}

.meanLabel {
	text-anchor: middle;
	font-size: 1.2em;
}

.incomeCircle.notSampled {
	visibility: hidden;
}

.incomeCircle.sampled {
	visibility: visible;
}




/********* STYLES FOR STACKED BAR CHART *************/
.axis path,
.axis .tick line {
	display: none;
}

.axis text {
	font-size: 1em;
}

.barValueLabels {
	fill: #4801ff;
	font-size: 12px;
	/*text-align: center;*/
	text-anchor: middle;
}




/********* STYLES FOR BIAS AMPLIFIED THROUGH ALGORITHMS INTERACTIVE *************/
.amplifiedBiasInteractive .plots{
	width: 100%;
	display: grid;
	grid-template-columns: 20% 40% 40%;
	grid-template-rows: 300px 50px;
	grid-gap: 15px;
}

.amplifiedBiasInteractive .slider {
	width: 30%;
}

.dataPoint.woman {
	fill: #000;
}

.dataPoint.man {
	fill: #d2d2d2;
}

.dataPoint.incorrect {
	stroke: #4801ff;
}

.genderLabel {
	text-anchor: middle;
	font-size: 0.3em;
	text-decoration: underline;
}

.errorLabel {
	text-anchor: middle;
	font-size: 0.3em;
}

#biasAmplifiedConclusion {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
}





/********* STYLES FOR ACCURACY METRICS INTERACTIVE *************/
.recidivism-tables {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 15px;
}

.recidivism-table .groupLabel {
	font-weight: bold;
	text-align: center;
}

.recidivism-table .predictionLabel {
	margin-left: 220px;
}

.recidivism-table input {
	width: 80px;
	height: 37px;
	margin: 2px;
}

.recidivism-table.accuracyMetrics {
	margin-top: 80px;
}