
.parametric-header-image img {
  top: -175px;
}

.interactive div,
.interactive span,
text {
	font-family: 'Graphik Web';
}

.idyll-text-container img {
	margin-top: 2em;
	margin-bottom: 2em;
}

button {
	margin: 0;
}

input {
	display: block;
	width: 100%;
}

.slider span {
	font-size: 0.9em;
}

.plotTitle {
	width: 100%;
	text-align: center;
}

.parametric-inset img {
	max-width: 300px;
	margin: 0 auto;
}

video {
	margin: 0 auto;
	display: block;
}

ol.ml-pipeline li {
	margin-bottom: 1em;
}

ol.ml-pipeline img {
	max-height: 150px;
}

.interactiveHed {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 20px;
}
.interactiveDek {
	font-size: 16px;
	font-weight: 500;
	color: #7E7E7E;
	line-height: 20px;
	max-width: 600px;
}

.plotNotes {
	/* font-style: italic; */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #c5c5c5;
	margin-top: 1em;
}

.parametric-optional-module {
	font-family: 'Graphik Web';
	font-size: 16px;
	line-height: 20px;
	background: #fff;
	border-radius: 10px;
	padding: 1em;
	margin: 2em 0;
	font-weight: 400;
	border: solid 1px #c5c5c5;
	box-shadow: 2px 2px 1px #c5c5c5;
}

.parametric-optional-module strong {
	font-weight: 500;
}

/********* STYLES FOR SAMPLING ERROR ITERACTIVE ************/
.samplingErrorsInteractive {
	width: 100%;
	padding: 1em 0;
	background: #222222;
	color: #fff;
	fill: #fff;
	min-height: 500px;
	margin: 1em 0;
	font-size: 16px;
}


.samplingErrorsInteractiveContent {
	width: 100%;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	grid-gap: 10px;
	text-align: center;
}
.samplingErrorsInteractive circle {
	/* fill: #c5c5c5; */
}

.samplingErrorsInteractive svg {
	max-height: 400px;
}

.samplingErrorsInteractive .plot {
	margin-top: 1em;
}
.samplingErrorsInteractive .plot > div {
	border: solid 1px #7e7e7e;
}
.samplingErrorsInteractive .plot > p,
.samplingErrorsInteractive .plot > div:not(:first-of-type) {
	background: #7e7e7e;
	padding: 0.5em 0;
}

.samplingErrorsInteractive input[type="range"] {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.generateSampleBtn {
	width: 200px;
	padding: 0.5em;
	margin: 0 auto;
	height: 58px;
	border: solid 5px #c5c5c5;
	color: #222222;
	background: white;
	transition: transform 0.25s;
	transition: color 0.25s;
	transition: border-color 0.25s;
	box-shadow: 3px 3px 5px #000;
}

.generateSampleBtn:active {
	color: #4801ff;
	border-color: #DACDFF;
	transform: scale(0.95);
}

.sample-metadata {
	font-size: 14px;
	line-height: 1.2;
	padding-top: 2em;
}
.sample-metadata span {
	display: block;
	overflow: auto;
	width: 100%;
	white-space: nowrap;
	margin-bottom: 1em;
}

.meanLabel {
	text-anchor: middle;
	/* font-size: 1em; */
}

.incomeCircle.notSampled {
	visibility: hidden;
}

.incomeCircle.sampled {
	visibility: visible;
}




/********* STYLES FOR STACKED BAR CHART *************/
.axis path,
.axis .tick line {
	display: none;
}

.axis text {
	font-size: 1em;
}

.barValueLabels {
	fill: #4801ff;
	font-size: 12px;
	/*text-align: center;*/
	text-anchor: middle;
}




/********* STYLES FOR BIAS AMPLIFIED THROUGH ALGORITHMS INTERACTIVE *************/

.amplifiedBiasInteractive {
	margin: 2em 0;
	padding: 1em 0;
	background: #222;
	color: #fff;
	font-weight: 400;
	font-size: 16px;
}
.amplifiedBiasInteractive text{
	fill: #fff;
}
.amplifiedBiasInteractive .plots{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-left: 1em;
	column-gap: 3em;
}
.amplifiedBiasInteractive .plots .plot-container{
	margin-top: 1em;
	border: solid 1px #979797;
	width: 500px;
}

.amplifiedBiasInteractive .plotTitle{
	color: #fff;
	background: #7e7e7e;
}

.amplifiedBiasInteractive .slider-container {
	max-width: 200px;
	margin-top: 0;
	font-weight: 12px;
	margin-right: 2em;
}

.amplifiedBiasInteractive .slider {
	display: block;
	width: 100%;
	text-align: left;
	margin-bottom: 1em;
	margin-top: 0;
	color: #d3d3d3;
}

.amplifiedBiasInteractive .slider input {
	margin: 0 auto;
}

.dataPoint.woman {
	fill: #539987;
}

.dataPoint.man {
	fill: #d2d2d2;
}

.dataPoint.incorrect {
	fill: #222;
}
.dataPoint.incorrect.woman {
	stroke: #539987;
}
.dataPoint.incorrect {
	stroke: #d2d2d2;
}

.genderLabel {
	text-anchor: middle;
	font-size: 0.3em;
	text-decoration: underline;
}

.amplifiedBiasInteractive text.errorLabel {
	text-anchor: middle;
	font-size: 0.4em;
	fill: #DACDFF;
}

#biasAmplifiedConclusion {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	text-align: center;
}




/********* STYLES FOR FEEDBACK LOOPS INTERACTIVE *************/
label {
	margin-right: 20px;
}

.feedbackLoopCrimeRateSelector input[type="radio"] {
	display: inline;
	width: auto;
}

.feedbackLoopCrimeRateSelector input[type="radio"]:disabled {
	cursor: auto;
}

.feedbackLoopRunBtn:disabled {
	background-color: #d2d2d2;
	cursor: auto;
}

.dispatchedToLabel {
	font-family: 'Graphik Web';
	width: 100%;
	text-align: center;
}

.neighborhoodLabel {
	text-anchor: middle;
}

.neighborhoodA {
	color: #888;
}

.neighborhoodB {
	color: #4801FF;

}

.neighborhoodLabel.neighborhoodA,
.feedbackDot.neighborhoodA {
	fill: #888;
}

.neighborhoodLabel.neighborhoodB,
.feedbackDot.neighborhoodB {
	fill: #4801FF;
}

.finalResults {
	font-family: 'Graphik Web';
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(3, 30px);
	grid-gap: 10px;
	margin-bottom: 40px;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
}

.finalResults.hidden {
	opacity: 0;
}




/********* STYLES FOR ACCURACY METRICS INTERACTIVE *************/
.recidivism-table-container {
	background: #222;
	padding: 1em 2em;
	margin: 2em 0;
	color: #fff;
	font-family: 'Graphik Web';
	line-height: 1.1;
	font-weight: 400;
}
.recidivism-tables {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 15px;
	margin-top: 2em;
}

.recidivism-tables table {
	color: #222;
	/* height: 400px; */
	max-width: 430px;
	table-layout: fixed;
}
.recidivism-tables table tr {
	height: 70px;
	/* height: 400px; */
}

.recidivism-table .groupLabel {
	font-weight: bold;
	text-align: center;
}

.recidivism-table .predictionLabel {
	margin: 1em 0 0.25em;
}

.recidivism-table input {
	width: 80px;
	height: 37px;
	margin: 2px;
	background: #ebe4ff;
}

.recidivism-table.accuracyMetrics {
	margin-top: 70px;
}

.recidivism-tables .inputError {
	grid-column-start: 1;
	grid-column-end: 3;
	font-style: italic;
}

.recidivism-tables .inputError.hidden {
	display: none;
}

.interactive {
	padding-left: 50px;
	padding-right: 50px;
}


.interactive-instruction {
	color: #fff;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 0.5em;
	line-height: 1.2;
}
.interactive-instruction .light {
	font-weight: 400;
}
.interactive-instruction .light span {
	text-transform: uppercase;
	font-weight: bold;
	color: #DACDFF;
}



.interactive-flex-row {
  display: flex;
  flex-direction: row;
}

/** Mobile styles */

@media all and (max-width: 1000px) {

	ol.ml-pipeline li {
		margin-bottom: 0;
	}
	ol.ml-pipeline img {
		max-height: none;
		max-width: 300px;
		margin: 1em auto;
	}
	.interactive {
		padding-left: 1em;
		padding-right: 1em;
	}
	.parametric-optional-module {
		font-size: 14px;
		line-height: 18px;
	}
	.parametric-optional-module h2 {
		font-size: 16px;
	}

	.samplingErrorsInteractiveContent {
		display: flex;
		flex-direction: column;
	}
	.samplingErrorsInteractiveContent svg {
		max-height: 200px;
	}
	.samplingErrorsInteractiveContent > div:nth-child(2) {
		order: 3;
	}
	.slider {
		margin-top: 0;
	}
	.interactive-flex-row {
		flex-direction: column;
	}
	.amplifiedBiasInteractive .plots {
		flex-direction: column;
		padding-right: 1em;
	}
	.amplifiedBiasInteractive .plots .plot-container{
		width: 100%;
	}
	.interactive-instruction {
		margin-top: 1em;
	}
	.recidivism-tables {
		display: flex;
		flex-direction: column;
	}
	.recidivism-table-container {
		padding: 1em;
	}
	.recidivism-table.accuracyMetrics {
		margin-top: 0;
	}
	.recidivism-table input {
		width: 100%;
	}
}




/* Range sliders */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
	width: 100%;
	background: #222;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
	animate: 0.2s;
	background: #fff;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #DACDFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 9px;
	background: #DACDFF;
	border: solid 1px #7e7e7e;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #DACDFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}